{%extends 'layout.html'%}
{%block content%}
<section class="bg-mixed p-3 pt-5 text-center text-light">
    <h2>من نحن</h2>
    <h6 class="mt-3">رئيس التحرير : -------</h6>
</section>
<section class="py-5">
    <div class="container">
      <div class="text-center pb-5 mb-3">
        <h2 class="text-green">من نحن</h2>
        <h6>السلام عليكم نحن موقع النور لتحفيظ القران الكريم نسعي دائما لرضاكم نسال الله التوفيق والسداد</h6>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <h3 class="text-green">القران الكريم</h3>
          <img src="{{url_for('static',filename='images/openquran.jpg')}}" class="img-fluid rounded-4 mb-4" alt="">
          <h6 style="line-height:32px">الۡقُرۡآنۡ، ويُسَمَّىٰ تكريمًا ٱلۡقُرۡآنُ ٱلۡكَرِيمُ، هو كتاب الله المعجز عند المسلمين، يُعَظِّمُونَهُ وَيُؤْمِنُونَ أَنَّهُ كلام الله، وَأَنَّهُ قد أُنزِلَ علىٰ الرسول محمد للبيان والإعجاز، وأنه محفوظ في الصدور والسطور من كل مس أو تحريف، وَبِأَنَّهُ مَنْقُولࣱ بالتواتر، وبأنه المتعبد بتلاوته، وأنه آخر الكتب السماوية بعد صحف إبراهيم والزبور والتوراة والإنجيل.</h6>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <h3 class="text-green pb-3">فضل حفظ القران الكريم</h3>
            <ul>
              <li class="mb-3"><i class="fa-solid fa-circle-check"></i> تحصيل الحسنات، وسبب لنَيل الأجر العظيم؛ فمن قرأ حرفاً من كتاب الله كانت له به عشر حسنات، والله يضاعف لمن يشاء.</li>
              <li class="mb-3"><i class="fa-solid fa-circle-check"></i> تنزُّل السكينة على قارئ القرآن، فتطمئنّ نفسه، وتخشع.</li>
              <li class="mb-3"><i class="fa-solid fa-circle-check"></i> عُلوّ شأن قارئ القرآن، ونَيله المكانة العالية الرفيعة التي لا تُعطى لغيره. </li>
            </ul>
            <h6 style="line-height:30px">
              يُستحَبّ للمسلم أن يُداوم على تلاوة القرآن الكريم، والإكثار منها، وهو بذلك يتّبع سُنّة جليلة من سُنَن الإسلام، وقد بيّن الله -سبحانه- ورسوله الكريم فضل تلاوة القرآن، قال -تعالى-: (إِنَّ الَّذِينَ يَتْلُونَ كِتابَ اللَّهِ وَأَقامُوا الصَّلاةَ وَأَنْفَقُوا مِمَّا رَزَقْناهُمْ سِرًّا وَعَلانِيَةً يَرْجُونَ تِجارَةً لَنْ تَبُورَ)
            </h6>
          </div>
        </div>
      </div>

    </div>
  </section>
<section class="py-5 bg-grey">
    <div class="container" >

      <div class="text-center pb-5 mb-3">
        <h2 class="text-green">ماذا نقدم</h2>
        <h6>يبذل فريق موقع النور جهده لتقديم الافضل من حيث القران وعلومه من تجويد وتفسير ونسال الله ان نكون دائما معا في تقدم</h6>
      </div>

      <div class="row gy-5 text-center" >

        <div class="col-lg-4 col-md-6 bordered">
          <div class="">
            <div >
              <i class="fa-solid fa-book p-3 bg-mixed mx-2 rounded-circle text-light icon-hover fs-4"></i>
            </div>
            <h3 class="text-green">القراءة الصحيحه </h3>
            <p>حيث لابد من قراة القران بطريقه صحيحه ليسهل فهم المقصود من الايه ولن يتم ذلك الا بفهم احكام التجويد من اظهار واقلاب وادغام وغنه</p>
            
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6 ">
          <div class="">
            <div >
              <i class="fa-solid fa-circle-check p-3 bg-mixed mx-2 rounded-circle text-light icon-hover fs-4"></i>
            </div>
            <h3 class="text-green">الطريقه الصحيحه </h3>
            <p>حيث يختلف كل متعلم عن الاخر من حيث الطريقه التي يجيد بها التعلم والحفظ ولا سيما ان القران سريع التفلت لذا قامنا بحل المشكله واتبعنا افضل الطرق</p>
            
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6 bordered">
          <div class="">
            <div >
              <i class="fa-solid fa-arrow-rotate-right p-3 bg-mixed mx-2 rounded-circle text-light icon-hover fs-4"></i>
              
            </div>
            <h3 class="text-green"> المراجعه</h3>
            <p>حيث ان القران اشد تفلتا من الابل في عقلها نحن اشد حرصا علي حفظه لذا يمكنك مراجعه ما حفظت لكي لا تنسي</p>
            
          </div>
        </div><!-- End Service Item -->
        
        <div class="col-lg-4 col-md-6 bordered">
          <div class="">
            <div >
              <i class="fa-solid fa-circle-plus p-3 bg-mixed mx-2 rounded-circle text-light icon-hover fs-4"></i>
            </div>
            <h3 class="text-green"> المزيد قريبا </h3>
            <p>حيث نفكر في اتاحه برنامج تفسير والعديد من الخدمات القرانيه وبارك الله لنا ولكم</p>
            
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section>
  <section class="py-5">
    <div class="container" >

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="text-center px-xl-5">
            <h3 class="text-green">بعض مما يدور في عقلك</h3>
            <p>
              نجييب عن بعض الاسئله التي تدور في عقلك بخصوص لماذا احفظ القران وكيف وكم ساستغرق
            </p>
          </div>
        </div>

        <div class="col-lg-8">

          <div class="accordion accordion-success" id="faqlist" >

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#faq-content-1">
                  <span class=" "><i class="fas fa-question-circle fa-sm me-2 opacity-70"></i> 1.</span>
                  <span class="">
                  لماذا احتاج الي حفظ القران ؟
                </span></button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-mdb-parent="#faqlist">
                <div class="accordion-body">
                 
إن حفظَ القرآنِ الكريمِ من أجلِ القرباتِ، وأفضل الطاعات، وقد حثَ النبيُ صل الله عليه وسلم  أمته على حفظِ القرآنِ الكريمِ ومدارستِه وتدبره وتعلمِّه وتعليمِه، وبيّنَ فضلَ أهلِه وحملتِه، وها هي بعضُ فوائدِ الحفظِ وفضائلِه ليكونَ ذلك باعثًا للهممِ، فمنْ عرفَ الأجرَ هانتْ عليه المصاعبُ والمشاقُ .
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#faq-content-2">
                  <span class=" "><i class="fas fa-question-circle fa-sm me-2 opacity-70"></i> 2.</span>
                  <span class="">
                      لماذا احتاج لمعلم ؟
                  </span>
              </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-mdb-parent="#faqlist">
                <div class="accordion-body">
                  يقوم المعلم بالأدوار الأساسية التالية : 1/ إعطاء الطلاب دروس متقدمة في التجويد وأحكام القرآن الكريم. 2/ متابعة حفظ ومراجعة الطلاب المنتظمين في الحلقة. 3/ تطوير أداء الطلاب الحفظة من خلال ( دقة أحكام التجويد – حسن الصوت – المظهر كقدوة حسنة – النواحي السلوكية والتربوية)
                </div>
              </div>
            </div>


            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#faq-content-3">
                  <span class=""><i class="fas fa-question-circle fa-sm me-2 opacity-70"></i> 3.</span>
                  <span class="">
                  كيف اتعلم القران ؟
                </span>
              </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-mdb-parent="#faqlist">
                <div class="accordion-body">
                  ان الطريق إلى قراءة القرآن قراءة صحيحة هي أخذه عن المتقنين، وما أكثرهم في هذا الزمان، والحمد لله رب العالمين، وبإمكانك الاعتماد علينا وعلي الله أن تلتحقي بأقرب مركز لتحفيظ القرآن في مدينتك، وهناك تتعلمين أحكام التلاوة، وتشرعين في حفظ كتاب الله تعالى وفقًا لمقررات هذه المراكز
                  وبإمكانك الاعتماد علينا وعلي الله
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>
  <section  class="py-5">
    <div class="container" >

      <div class="text-center">
        <h2 class="text-green">تواصل معنا</h2>
        <h6>يمكنك التواصل معنا وتقديم اقتراحات نتقبل رايك</h6>
      </div>

      <div class="row gx-lg-0 mt-4">

        <div class="col-lg-5 bg-gray p-3 order-lg-1 order-2">

          <div class=" d-flex flex-column ">

              <div class="bg-mixed rounded-3 p-2">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-location-dot p-2 fs-5 bg-light  rounded-circle text-green ms-1"></i>
                  <h5 class="text-light">الموقع:</h5>
                </div>
                <div class="text-center text-light">
                  <h6>ق----------------ي</h6>
                </div>
              </div>
              <div class="bg-mixed rounded-3 p-2 mt-2">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-envelope p-2 fs-5 bg-light  rounded-circle text-green ms-1"></i>
                  <h5 class="text-light">الايميل:</h5>
                </div>
                <div class="text-center text-light">
                  <h6>-------------@gmail.com</h6>
                </div>
              </div>
              <div class="bg-mixed rounded-3 p-2 mt-2">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-phone p-2 fs-5 bg-light  rounded-circle text-green ms-1"></i>
                  <h5 class="text-light">الهاتف:</h5>
                </div>
                <div class="text-center text-light">
                  <h6 dir="ltr">0120000000</h6>
                </div>
              </div>
              <div class="bg-mixed rounded-3 p-2 mt-2">
                <div class="d-flex align-items-center">
                  <i class="fa-solid fa-clock p-2 fs-5 bg-light  rounded-circle text-green ms-1"></i>
                  <h5 class="text-light">وقت العمل:</h5>
                </div>
                <div class="text-center text-light">
                  <h6>برجاء التواصل لتحديد الوقت <a href='#' class="fa-solid fa-left-long p-1 bg-light rounded-circle text-green"></a></h6>
                </div>
              </div>
          </div>

        </div>

        <div class="col-lg-7 px-3 order-lg-2 order-1 mb-3" style="min-height:300px">
          <iframe src="https://www.google.com/maps" width="100%"  height="100%"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="bordered"></iframe>
        </div><!-- End Contact Form -->

      </div>

    </div>
  </section>
{%endblock content%}
