{%extends 'layout.html'%}
{%block content%}
<section>
    <div class="container ">
      <form action="/create" class="py-5" method="post" enctype="multipart/form-data">
<div>
<label for="imgFile" class="form-label">اضف صوره : </label>
  <input
    type="file"
    name="imgFile"
    id="imgFile"
    class="form-control"
    accept=".png,.jpg"
  />
</div>

        <div class="my-3">
          <label class="form-label"  for="form12">العنوان : </label>
          <input type="text" id="form12" class="form-control" name="title"/>
        </div>
        <div class="my-3">
          <label class="form-label" for="textArea">المحتوي : </label>
          {{ ckeditor.create() }}
        </div>
        <div class="my-3 text-center">
          <button class="btn bg-mixed text-light w-50">
            send
          </button>
        </div>
      </form>
    </div>
  </section>
{%endblock content%}